site_name: Github Documentation
nav:
  - Home: "index.md"
  - Issues: "issues.md"
  - Merge Conflicts: "MergeConflicts.md"
  - Glossary: "glossary.md"
  - Troubleshooting: "troubleshooting.md"

repo_url: https://github.com/Wilbster/GitHub-Instructions

repo_name: Wilbster/GitHub-Instructions

markdown_extensions:
  - toc:
      toc_depth: 3
  - pymdownx.tasklist:
      custom_checkbox: true

theme:
  name: material
  
  features:
  # - navigation.tabs
  - navigation.sections
  - navigation.top
  - toc.integrate